@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

body, html {
    font-family: 'PT Sans', sans-serif !important;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#submit {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.nav-item.client-pill {
    margin: 0% 2%;
    border: 1px solid #37123C;
    padding: 1% 4%;
    background: #37123C;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}

#list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F9BA6F;
}

#new {
    float: right;
}

#new a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#new a:hover {
    background-color: #111;
}

/* New CSS */

#link_1 { 
    float: right;
    
    margin-top: 4%;
}

.heading {
    padding: 1% 0%;
    background-color: #A10A63;
}

.heading h1 {
    color: #fff;
}

#link_1.btn-primary {
    color: #A10A63;
    background-color: #fff;
    border-color: #A10A63;
}

.sub-heading {
    padding: 1% 0%;
}

.form-sec {
    padding: 6%;
    margin: 0%;
    background-color: #A99F96;
}

input[type=text], select, textarea {
    background-color: #00000036;
    color: white;
    border: 0px solid #ccc;
    outline-color: #fff;
}

#submit {
    float: right;
    color: #FFF;
    background-color: #37123C;
    border-color: #37123C;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#scope_list {
   
    margin: 0 auto;
    border: 1px solid #999;
    padding: 15px;
}

#scope_list li {
    list-style: none;
}

.success-alert {
    /* margin: 1% 0%; */
}

.alert-success {
    color: #A99F96;
    background-color: #37123C;
    border-color: #37123C;
}

.img-fluid {
    /* max-width: 60%; */
    height: auto;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}


/************************/
/*#scope_list>li>label {
    float: left;
    margin-right: 15px;
}*/


#table_div table thead tr{background-color:#ccc; height:40px;} 
.nopad{padding:0;}
#table_div table{text-align:center;}
#table_div table tbody tr td{padding-top:10px; padding-bottom:10px;}
#table_div table tbody tr td:first-child{font-weight:bold;}

